@(decision: model.Decision, decisionForm: play.api.data.Form[controllers.DecisionView])(implicit flash: play.api.mvc.Flash, lang: play.api.i18n.Lang)

@import helper._
@import helper.twitterBootstrap._

@main {
    <p>@decision.name</p>
     @form(routes.Decisions.update(decision.id)) {
        <div class="section">
Alternatives are the items from which you must choose. Each alternative will be compared to all others for this decision.
            <table class="ranking-table">
                <tr>
                    <th>&nbsp;</th>
                    @for(criteria <- decision.criteriaByImportance) {
                        <th>@criteria.name</th>
                    }
                    <th>Score</th>
                </tr>
                @for(alternative <- decision.alternativesByPreference) {
                <tr>
                      <td>@alternative.name</td>
                      @for(criteria <- decision.criteriaByImportance) {
                        <td>
                             <div class="inputfield">
                            @select(field=decisionForm("criteriaImportance").copy(value = Some(decision.ranking(alternative.id, criteria.id).getOrElse(0).toString), name = "ranking_" + alternative.id.toString + "_" + criteria.id.toString),options=controllers.Decisions.rankings, '_label -> "")
                            </div>

                        </td>
                      }
                    <td>@alternative.score</td>
                </tr>
                }
                <tr>
                    <td>
                        <div class="inputfield">
                            @inputText(decisionForm("alternativeName"))
                        </div>
                    </td>
                    @for(criteria <- decision.criteriaByImportance) {
                        <td>
                            <div class="inputfield">
                            <select name="selectionField">
                              <option value="0" >Worst</option>
                              <option value="1" >Very Poor</option>
                              <option value="2" >Poor</option>
                              <option value="3" >Medium</option>
                              <option value="4" >Good</option>
                              <option value="5" >Best</option>
                            </select>
                            </div>
                        </td>
                      }
                </tr>
            </table>
            <br/>
        </div>

        <div class="section">
            <p>Criteria are the items on which you may judge the relative merits of each alternative. For each alternative, you
            will specify a relative score for each criteria. For each criteria, you can specify a relative importance here.</p>

            <table class="ranking-table">
                <tr><th>Criteria</th>
                    <th>Importance</th>
                </tr>
                @for(criteria <- decision.criteria) {
                    <tr>
                        <td>@criteria.name</td>
                        <td>
                            <div class="inputfield">
                                @select(field=decisionForm("criteriaImportance").copy(value = Some(criteria.importance.toString), name = "importance_" + criteria.id.toString),options=controllers.Decisions.importances, '_label -> "")
                        </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <div class="inputfield">
                            @inputText(decisionForm("criteriaName"))
                        </div>
                    </td>
                    <td>
                        <div class="inputfield">
                            @select(field=decisionForm("criteriaImportance"),options=controllers.Decisions.importances)
                        </div>
                    </td>
                </tr>
            </table>


        </div>

          <button type="submit" name="action" class="btn btn-primary" value="login" title="Update this Decision">
            @Messages("saveAnalyze")
          </button>
    }
}
